@import 'src/styles/variables';

#ratingSlider {
  padding: 0;
  height: 40px;
}

.discount-row:not(.form-stars) {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.discount-row.form-stars {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.rate-button {
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rate-form {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  width: 250px;
  margin: 0 auto;
}

.form-stars + .rate-form,
.form-stars {
  animation-name: show;
  animation-duration: 1s;
}

@keyframes show {
  0% {
    visibility: hidden;
  }
  49% {
    visibility: hidden;
  }
  51% {
    visibility: visible;
  }
  100% {
    visibility: visible;
  }
}

.loading-spinner {
  display: inline-block;
}

.status-icon {
  margin-left: 10px;
}

.success-loading-msg {
  text-align: center;
  font-size: 26px;
  color: $theme-color;
  border: 1px solid $theme-color;
  border-radius: 10px;
  padding: 10px 0;
  font-weight: 500;
  animation: attention 1s infinite;
}

@keyframes attention {
  0% {
    border-color: white;
  }
  50% {
    border-color: $theme-color;
  }
  100% {
    border-color: white;
  }
}

@media (max-width: 540px), (max-device-width: 540px) {
  .discount-row {
    flex-direction: row-reverse;
  }
}

.discount-row.form-stars {
  padding: 5px;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
}

.rate-form-button {
  font-size: 18px;
  &:first-of-type {
    width: 80px;
  }
}

.slider-value {
  position: absolute;
  font-size: 18px;
  font-family: 'Microsoft New Tai Lue', sans-serif;
  line-height: 10px;
}
