<div class="container login-form-container">
  <form class="login-form" (ngSubmit)="onSubmit()" [formGroup]="myForm">
    <mat-form-field class="login-input" appearance="fill">
      <mat-label>{{ 'loginPage.login' | translate }}</mat-label>
      <input matInput formControlName="userLogin" autocomplete="off" />
    </mat-form-field>
    <mat-form-field class="login-input" appearance="fill" autocomplete="off">
      <mat-label>{{ 'loginPage.password' | translate }}</mat-label>
      <input matInput formControlName="userPassword" [type]="hide ? 'password' : 'text'" />
      <button
        (click)="onToggleClickPasswordIcon()"
        mat-icon-button
        matSuffix
        type="button"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>
    <div class="login-button-container">
      <button class="login-button" mat-flat-button color="primary" [disabled]="myForm.invalid">
        {{ 'loginPage.signIn' | translate }}
      </button>
    </div>
  </form>
</div>
