<div class="container">
  <div *ngIf="!isFormActive">
    <app-add-bonus-button (openForm)="openForm()"></app-add-bonus-button>
    <app-bonus-list-view [bonuses]="bonuses"></app-bonus-list-view>
  </div>
  <app-add-bonus-form
    *ngIf="isFormActive"
    (addAddress)="addAddress($event)"
    (createBonus)="createBonus($event)"
    (closeForm)="closeForm()"
    [locations]="locations"
    [vendors]="vendors"
    [newVendor]="newVendor"
    (vendorNameChange)="vendorNameChange($event)"
    (createNewVendor)="createNewVendor($event)"
  ></app-add-bonus-form>
</div>
