<div class="add-bonus-container">
  <div *ngIf="!isFormActive">
    <div class="search-button-container">
      <app-add-bonus-button (openForm)="openForm()" class="bonus-btn"></app-add-bonus-button>
      <app-bonus-searcher
        [bonusFormConfig]="bonusFormConfig"
        [vendors]="vendors"
        (getBonusesByVendorId)="getBonusesByVendorId($event)"
        class="search-input"
      ></app-bonus-searcher>
    </div>
    <div class="bonus-container">
      <app-bonus-list-view
        *ngIf="!loading; else loadingBlock"
        [bonuses]="bonuses"
        (bonusButtonClickedEvent)="openEditForm($event)"
        [bonusButtonLabel]="bonusButtonLabel"
        [visibleChangeStatusBtn]="visibleChangeStatusBtn"
        class="bonus-list"
      ></app-bonus-list-view>
      <ng-template #loadingBlock>
        <mat-spinner class="spinner"></mat-spinner>
      </ng-template>
    </div>
  </div>
  <app-add-bonus-form
    *ngIf="isFormActive"
    [bonusFormConfig]="bonusFormConfig"
    [locations]="locations"
    [vendors]="vendors"
    [newVendor]="newVendor"
    [bonusId]="bonusId"
  ></app-add-bonus-form>
</div>
