.datepicker-container {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.datepicker-field {
  width: 45%;
}

.wide-dash {
  font-size: 35px;
  opacity: 0.7;
  padding: 14px 0;
}
