<mat-radio-group class="radio-group" text-align="right">
  <mat-radio-button class="radio-button" value="title" labelPosition="before">
    Alphabetically by title
  </mat-radio-button>
  <mat-radio-button class="radio-button" value="company" labelPosition="before">
    Alphabetically by company
  </mat-radio-button>
  <mat-radio-button class="radio-button" value="dateStart" labelPosition="before">
    By bonus date start
  </mat-radio-button>
  <mat-radio-button class="radio-button" value="dateEnd" labelPosition="before">
    By bonus date end
  </mat-radio-button>
</mat-radio-group>
