<mat-radio-group
  class="radio-group"
  text-align="right"
  (change)="sortValueChange($event)"
  data-test="radio-group"
  appResizePick="mobile"
>
  <mat-radio-button class="radio-button" value="Title" labelPosition="before" color="primary">
    {{ 'home.pick.sorting.byTitle' | translate }}
  </mat-radio-button>
  <mat-radio-button class="radio-button" value="DateStart" labelPosition="before" color="primary">
    {{ 'home.pick.sorting.byDateStart' | translate }}
  </mat-radio-button>
  <mat-radio-button class="radio-button" value="DateEnd" labelPosition="before" color="primary">
    {{ 'home.pick.sorting.byDateEnd' | translate }}
  </mat-radio-button>
  <mat-radio-button class="radio-button" value="Rating" labelPosition="before" color="primary">
    {{ 'home.pick.sorting.byRating' | translate }}
  </mat-radio-button>
  <mat-radio-button class="radio-button" value="Type" labelPosition="before" color="primary">
    {{ 'home.pick.sorting.byType' | translate }}
  </mat-radio-button>
</mat-radio-group>
<mat-form-field appearance="fill" appResizePick="desktop" class="select-sort">
<mat-select (selectionChange)="sortValueChange($event)" class="sort-container">
  <mat-option value="Title">{{ 'home.pick.sorting.byTitle' | translate }}</mat-option>
  <mat-option value="Company">{{ 'home.pick.sorting.byCompany' | translate }}</mat-option>
  <mat-option value="DateStart">{{ 'home.pick.sorting.byDateStart' | translate }}</mat-option>
  <mat-option value="DateEnd">{{ 'home.pick.sorting.byDateEnd' | translate }}</mat-option>
  <mat-option value="Rating">{{ 'home.pick.sorting.byRating' | translate }}</mat-option>
  <mat-option value="Type">{{ 'home.pick.sorting.byType' | translate }}</mat-option>
</mat-select>
</mat-form-field>
