<mat-radio-group class="radio-group" text-align="right">
  <mat-radio-button class="radio-button" value="title" labelPosition="before">
    {{ 'home.pick.sorting.byTitle' | translate }}
  </mat-radio-button>
  <mat-radio-button class="radio-button" value="company" labelPosition="before">
    {{ 'home.pick.sorting.byCompany' | translate }}
  </mat-radio-button>
  <mat-radio-button class="radio-button" value="dateStart" labelPosition="before">
    {{ 'home.pick.sorting.byDateStart' | translate }}
  </mat-radio-button>
  <mat-radio-button class="radio-button" value="dateEnd" labelPosition="before">
    {{ 'home.pick.sorting.byDateEnd' | translate }}
  </mat-radio-button>
</mat-radio-group>
