.add-bonus-btn-container {
  text-align: center;
}

.add-bonus-form {
  text-align: center;
  width: 260px;
  margin: 30px auto;

  @media screen and (min-width: 1280px) {
    width: 400px;
  }
}

.add-bonus-button {
  outline: none;
  @media screen and (min-width: 1280px) {
    width: 150px;
    font-size: 18px;
  }
}

.add-bonus-input {
  position: relative;
  width: 260px;

  &--description {
    textarea {
      min-height: 50px;
    }
  }

  @media screen and (min-width: 1280px) {
    width: 400px;
  }
}

.add-bonus-input--chip {
  display: flex;
  justify-content: space-between;
  width: 260px;
}

.form-btn-back {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  padding: 0px;
  margin: 10px;
  @media screen and (min-width: 1280px) {
    width: 100px;
    height: 30px;
    margin: 0px;
    font-size: 18px;
  }
}

.form-btn-back-container {
  text-align: center;
  width: 100%;
}

.new-vendor-btn {
  position: absolute;
  right: 0px;
  bottom: 10px;
  width: 30px;
  height: 30px;
  padding: 1px;
  font-size: 25px;
  line-height: 1;
  color: #0082ca;
  border-radius: 50% 50% 50% 50%;
  border: 2px solid #0082ca;
  cursor: pointer;
  outline: none;
}

.vendor-info-btn {
  margin-bottom: 20px;
  outline: none;
}

.hidden {
  display: none;
}
