.bonuses {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 540px), (max-device-width: 540px) {
  .bonuses {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow-y: hidden;
  }
}

@media (max-device-width: 1150px) and (min-device-width: 541px),
  (max-width: 1150px) and (min-width: 541px) {
  .bonuses {
    justify-content: center;
    padding: 10px;
  }
}

.spinner {
  margin: auto;
}
