// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$mat-blue: (
  50: #065aa2,
  100: #065aa2,
  200: #065aa2,
  300: #065aa2,
  400: #065aa2,
  500: #0082ca,
  600: #0082ca,
  700: #0082ca,
  800: #0082ca,
  900: #0082ca,
  A100: #065aa2,
  A200: #0075bd,
  A400: #055ba3,
  A700: #00549c,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);
$exadelBonus-primary: mat-palette($mat-blue);
$exadelBonus-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$exadelBonus-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$exadelBonus-theme: mat-light-theme(
  (
    color: (
      primary: $exadelBonus-primary,
      accent: $exadelBonus-accent,
      warn: $exadelBonus-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
$custom-typography: mat-typography-config(
  $font-family: 'Mulish',
);
@include angular-material-typography($custom-typography);
@include angular-material-theme($exadelBonus-theme);
