<ng-template [appResizePick]="'mobile'">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="{{ 'home.pick.labelFilter' | translate }}">
      <app-filter-container></app-filter-container>
    </mat-tab>
    <mat-tab label="{{ 'home.pick.labelSorting' | translate }}">
      <app-sort-container></app-sort-container>
    </mat-tab>
  </mat-tab-group>
</ng-template>

<ng-template [appResizePick]="'desktop'">
  <div class="pick-desktop">
    <div>
      <app-filter-container></app-filter-container>
    </div>
    <div>
      <app-sort-container></app-sort-container>
    </div>
  </div>
</ng-template>
