<div appResizePick="mobile">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="{{ 'home.pick.labelFilter' | translate }}">
      <app-filter-container></app-filter-container>
    </mat-tab>
    <mat-tab label="{{ 'home.pick.labelFilter' | translate }}">
      <app-sort-container></app-sort-container>
    </mat-tab>
  </mat-tab-group>
</div>

<div appResizePick="desktop">
  <div class="pick-desktop">
    <app-filter-container></app-filter-container>
    <app-sort-container></app-sort-container>
  </div>
</div>
