<section class="rating">
  <section class="stars-container">
    <section class="stars">
      <mat-icon class="star">star_border</mat-icon>
      <mat-icon class="star">star_border</mat-icon>
      <mat-icon class="star">star_border</mat-icon>
    </section>
    <section class="stars full">
      <mat-icon class="star">star</mat-icon>
      <mat-icon class="star">star</mat-icon>
      <mat-icon class="star">star</mat-icon>
    </section>
    <section class="curtain" [style.width.%]="100 - widthValue"></section>
  </section>
</section>
