<mat-form-field class="tag-chips-input">
  <mat-label>Tags</mat-label>
  <mat-chip-list #chipList aria-label="Tags Selection" aria-multiline="false">
    <mat-chip
      *ngFor="let tag of selectedTags"
      [selectable]="true"
      [removable]="true"
      (removed)="remove(tag)"
    >
      {{ tag }}
      <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
    </mat-chip>
    <input
      placeholder="New tags..."
      #tagsInput
      [formControl]="tagsControl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)"
      maxlength="30"
    />
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
      {{ tag }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
