.add-bonus-btn-container {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.add-btn {
  width: 200px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;

  @media screen and (min-width: 768px) {
    width: 220px;
  }
}
