@import 'src/styles/variables';

.map {
  width: 100%;
  height: 100%;
}

.home {
  height: calc(100vh - 70px);
  position: absolute;
  top: 70px;
  overflow: hidden;
  display: flex;
  width: 100%;
}

.left {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 540px;
  width: 540px;
  margin: 0 5px;
  padding-bottom: 50px;
}

.right {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 20px 70px 0;
}

.footer {
  position: absolute;
  width: 100%;
  z-index: 1000;
  top: calc(100% - 50px);
}

.bonus-list {
  height: 100%;
  overflow: auto;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $theme-color;
    border-radius: 10px;
  }
}


.filter-container {
  padding: 20px;
}

.sort-container {
  display: inline-block;
  width: 100%;
  margin-left: 10px;
  height: 60px;
}

.sort-header {
  display: flex;
  align-content: center;
  div {
    margin: auto 0;
    font-size: 20px;
  }
}

h2 {
  margin: 0 20px 0;
  text-align: center;
}

.pick-container {
  width: 100%;
  min-height: 270px;
}

@media (max-width: 540px), (max-device-width: 540px) {
  .home {
    height: auto;
  }
  .bonus-list {
    display: block;
    height: auto;
    width: 100vw;
  }
  .left {
    margin: 0;
    height: auto;
    width: 100% !important;
  }
  .pick-container {
    width: 100vw !important;
  }
}

@media (max-device-width: 1150px), (max-width: 1150px) {
  .home {
    height: auto;
    flex-direction: column-reverse;
  }

  .right {
    height: 50vh;
  }

  .left {
    width: 100%;
  }
}
