<section class="home">
  <section class="left">
    <button (click)="this.ifFindPlaceClick = !this.ifFindPlaceClick">Find Place</button>
    <div [ngStyle]="{ display: this.ifFindPlaceClick ? 'none' : 'block' }">
      <app-pick class="pick-container"></app-pick>
    </div>
    <app-bonus-list-container
      class="bonus-list"
      [bonusButtonLabel]="bonusButtonLabel"
      (bonusButtonClickedEvent)="openApplyForm($event)"
    >
    </app-bonus-list-container>
  </section>
  <section class="right">
    <app-map-container class="map"></app-map-container>
  </section>
</section>
