.bonus-card{
  margin: 0 auto;
  padding: 10px;
  max-width: 600px;

  .rating-discount-wrapper{
    display: flex;

    .spacer{
      flex: 1 1 auto;
    }
  }

  .button-wrapper{
    display: flex;
    justify-content: center;

    .apply-button{
      min-width: 30%;
    }

  }

}