<div class="bonus-card-wrapper">
  <mat-card *ngIf="bonus" class="bonus-card">
    <a
      *ngIf="isModeratorOrAdmin"
      routerLink="/bonuses/{{ bonus.id }}"
      [routerLinkActive]="'active'"
    >
      <img class="update-img" src="assets/images/pencil.png" alt="update bonus" />
    </a>
    <mat-card-subtitle class="company-name"> {{ bonus.company.name }}</mat-card-subtitle>
    <mat-card-title class="type" class="title">{{ bonus.type | uppercase }}</mat-card-title>
    <mat-card-content class="discription-wrapper">
      <p class="discription">{{ bonus.description }}</p>
      <p>
        Phone: <span> {{ bonus.phone }} </span>
      </p>
      <div class="rating-discount-wrapper" fxLayout="row" fxLayoutAlign="space-between center">
        <!-- TODO: change icons to component with rating -->
        <span class="stars">
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
        </span>
        <span class="spacer"></span>
      </div>
    </mat-card-content>
    <div class="button-wrapper">
      <button mat-raised-button color="primary" (click)="apply()" class="apply-button">
        Apply
      </button>
    </div>
  </mat-card>
</div>
