.radio-button {
  margin: 10px;
}

.radio-group {
  display: flex;
  flex-direction: column;
}

.dialog-container {
  width: 250px;
  display: flex;
  flex-direction: column;
}

.show-info-icon {
  width: 15px;
  height: 15px;
  font-size: 15px;
}
